body {
    font-family: arial, verdana, sans-serif;
    font-size: 12pt;
    color: #000;
    background-color: #FFF;
    margin: 0px auto;
    padding: 0px;
    text-align: center;
    width: 1024px;
}

img { border: 0px }

#container {
    text-align: left;
}

#title {
    font-size: 14pt;
    font-weight: bold;
    color: #1A5959;
    padding: 6px 10px;
    background-color: #63A120;
    white-space: nowrap;
    overflow: hidden;
}

#title a {
    text-decoration: none;
    color: #000;
}

#title a:hover {
    color: #D00;
}

#title #title_name {
    font-weight: normal;
    font-size: 0.8em;
}

#title #user_bar {
    float: right;
    margin-top: 3px;
    font-size: .7em;
}

#content {
    margin-top: 10px;
    //padding: 6px 4px;
}
