<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
  
<title>{% block title %}rxpact{% endblock title %}</title>

<link rel="stylesheet" href="/static/css/rxpact.css" />
<script src="/static/js/jquery.js"></script>
<script src="/static/js/jquery.corner.js"></script>
<script src="/static/js/jquery.lightbox_me.js"></script>
{% block head %}{% endblock head %}
</head>

<body>
  <div id="container">
    <div id="title">
      <a href="/">rxpact
	{% if user.is_authenticated %}
	  <span id="title_name">
	    for {{ user.first_name }} {{ user.last_name }}
	  </span>
	{% endif %}
      </a>

      <span id="user_bar">
	{% if user.is_authenticated %}
	<a href="/edit/">Edit</a>
	<a href="/account/">Settings</a>
	<a href="/account/logout/">Sign out</a>
	{% endif %}
      </span>
    </div>
    <div id="content">
      {% block body %}{% endblock body %}
    </div>
  </div>
</body>
</html>
