<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
  
<title>{% block title %}rxpact{% endblock title %}</title>

<link rel="stylesheet" href="/static/css/rxpact.css" />
<script src="/static/js/jquery.js"></script>
{% block head %}{% endblock head %}
</head>

<body>
  <div id="container">
    <div id="title">
      <a href="/">rxpact</a>

      <span id="user_bar">
	{% if user.is_authenticated %}
	<a href="/account/">Settings</a>&nbsp;&nbsp;
	<a href="/account/logout/">Sign out</a>
	{% endif %}
      </span>
    </div>
    <div id="content">
      {% block body %}{% endblock body %}
    </div>
  </div>
</body>
</html>
