{% extends "base.html" %}

{% block head %}

<style>

.pane {
  color: #000;
}

.left-pane {
  width: 500px;
  margin-left: 5px;
  float: left;  
}

.right-pane {
  width: 500px;
  margin-right: 5px;
  float: right;
}

.medication {
  margin-top: 50px;
  margin-bottom: 100px;
}

.medication .you_relative_time {
  font-size: 3em;
}

.medication .you_absolute_time {
  font-size: 2em;
  color: #aaa;
  margin-bottom: 10px;
}

.medication .you_med {
  padding-left: 50px;
  font-size: 1em;
}

.medication .you_med div {
  display: inline-block;
  padding-right: 50px;
  padding-bottom: 10px;
  text-align: center;
}

.medication .you_med div img {
  vertical-align: middle;
}

</style>

<script>

  jQuery(function() {
  $("img").corner();

  $("#you_med")
  //$("#you").html("Hello world!");
  });

</script>

{% endblock head %}

{% block body %}

<div class="pane left-pane" id="you">
  <div class="medication">

    <div>
      <div class="you_relative_time">in 12 minutes</div>
      <div class="you_absolute_time">@12:30 PM</div>
    </div>
    <div class="you_med">
      <div><img src="http://placekitten.com/64/64" /><br />Zoloft</div>
      <div><img src="http://placekitten.com/64/64" /><br />Azithromycin</div>
    </div>
  </div>

  <div class="medication">
    <div>
      <div class="you_relative_time">5:30PM</div>
      <div class="you_absolute_time">in 5 hours</div>
    </div>
    <div class="you_med">
      <div><img src="http://placekitten.com/64/64" /><br />Zoloft</div>
      <div><img src="http://placekitten.com/64/64" /><br />Zoloft</div>
      <div><img src="http://placekitten.com/64/64" /><br />Azithromycin</div>
    </div>

  </div>
</div>

<div class="pane right-pane" id="network">
  <div id="network_title">My Network</div>
  <table>
    <tr>
      <td><img src="http://placekitten.com/64/64" /><br />Mom</td>
      <td><img src="http://placekitten.com/64/64" /><br />Mom</td>
      <td><img src="http://placekitten.com/64/64" /><br />Mom</td>
    </tr>
    <tr>
      <td><img src="http://placekitten.com/64/64" /><br />Mom</td>
      <td><img src="http://placekitten.com/64/64" /><br />Mom</td>
      <td><img src="http://placekitten.com/64/64" /><br />Mom</td>
    </tr>

  </table>
</div>

{% endblock body %}

