{% extends "base.html" %}

{% block head %}

<style>

#header {
//  text-align: left;
  margin-left: 6px;
  margin-top: 30px;
  font-size: 1em;
//  margin: 0px auto;
}

.pane {
  color: #000;
}

.left-pane {
  width: 500px;
  margin-left: 5px;
  float: left;  
}

.right-pane {
  width: 500px;
  margin-right: 5px;
  float: right;
}

.medication {
  margin-bottom: 20px;
}

.medication .you_relative_time {
  font-size: 3em;
}

.medication .you_absolute_time {
  font-size: 2em;
  color: #555;
  margin-bottom: 10px;
}

.medication .you_med {
  padding-left: 20px;
  font-size: 1em;
}

.medication .you_med div {
  display: inline-block;
  padding-right: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.medication .you_med div img {
  vertical-align: middle;
}

.past {
  color: #F00;
}

.med_image {
  max-width: 100px;
  max-height: 100px;
}

#network_title {
  font-size: 2em;
  margin-bottom: 20px;
}

.network {
  display: inline-block;
  padding-right: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.network_image {
  max-width: 100px;
  max-height: 100px;
}

.button {
  //vertical-align: middle;
  -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
  -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
  box-shadow:inset 0px 1px 0px 0px #caefab;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
  background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
  background-color:#77d42a;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #268a16;
  display:inline-block;
  color:#306108;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:4px 8px;
  text-decoration:none;
  text-shadow:1px 1px 0px #aade7c;
}.button:active {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
  background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
  background-color:#5cb811;
}

</style>

<script>

String.repeat = function(chr,count)
{    
    var str = ""; 
    for(var x=0;x<count;x++) {str += chr}; 
    return str;
}

String.prototype.padL = function(width,pad)
{
    if (!width ||width<1)
        return this;   

    if (!pad) pad=" ";
    var length = width - this.length
    if (length < 1) return this.substr(0,width);

    return (String.repeat(pad,length) + this).substr(0,width);    
}    

String.prototype.padR = function(width,pad)
{
    if (!width || width<1)
        return this;        

    if (!pad) pad=" ";
    var length = width - this.length
    if (length < 1) this.substr(0,width);

    return (this + String.repeat(pad,length)).substr(0,width);
} 

Date.prototype.formatDate = function(format)
{
    var date=this;

    if (!format)
      format="MM/dd/yyyy";               
 
    var month = date.getMonth() + 1;
    var year = date.getFullYear();    
 
    format = format.replace("MM",month.toString().padL(2,"0"));        
 
    if (format.indexOf("yyyy") > -1)
        format = format.replace("yyyy",year.toString());
    else if (format.indexOf("yy") > -1)
        format = format.replace("yy",year.toString().substr(2,2));
 
    format = format.replace("dd",date.getDate().toString().padL(2,"0"));
 
    var hours = date.getHours();       
    if (format.indexOf("t") > -1)
    {
       if (hours > 11)
        format = format.replace("t","PM")
       else
        format = format.replace("t","AM")
    }
    if (format.indexOf("HH") > -1)
        format = format.replace("HH",hours.toString());
    if (format.indexOf("hh") > -1) {
        if (hours > 12) hours - 12;
        if (hours == 0) hours = 12;
        format = format.replace("hh",hours.toString().padL(2,"0"));
    }
    if (format.indexOf("mm") > -1)
       format = format.replace("mm",date.getMinutes().toString().padL(2,"0"));
    if (format.indexOf("ss") > -1)
       format = format.replace("ss",date.getSeconds().toString().padL(2,"0"));
    return format;
}

// it's always between 7 and 8 here
var current_time = new Date();
current_time.setHours(7);
var schedule = {{ schedule_json|safe }};

function set_times() {
  var relative_time_slot;
  var i, len;

  for (i=0; len = schedule.length, i < len; i+=1) {
    slot = schedule[i];
    relative_time_slot = $("#time_slot_" + i).find(".you_relative_time");
    minutes_away = Math.floor((new Date(slot.timestamp) - current_time) / 60000);
    if (minutes_away < 0) {
      relative_time_slot.addClass("past");
      relative_time_slot.html(-minutes_away + " minutes ago");
    } 
    else {
      relative_time_slot.removeClass("past");
      if (minutes_away < 60) {
        relative_time_slot.html("in " + minutes_away + " minutes"); 
      }
    }
  }
  $("#current_time").html(current_time.formatDate("HH:mm t"));
}

function set_current() {
  var t = prompt("Enter time, e.g. 10:38 or 15:05");
  var parts = t.split(":");
  current_time.setHours(parts[0]);
  current_time.setMinutes(parts[1]);
  set_times();
}

jQuery(function() {

  $("#title").corner("bl br 5px");
  $("img").corner("8px");

  $(".button").click(function() {
    var time_slot = $("#time_slot_" + this.id.split("_")[1]);
    $.post("/done/", { "id" : 0 }, 
      function(data) {
        time_slot.css("display", "none");
      }
    );
  });

  // set relative times
  set_times();

  // advance current time on a timer
  window.setInterval(function() {  
    current_time.setTime(current_time.getTime() + 10000);
    set_times();
  }, 10000);

});


</script>

{% endblock head %}

{% block body %}

<div id="header">
It is currently <span id="current_time"></span>. <a href="javascript:set_current();" style="opacity: 0.25;">[set]</a>
</div>

<br style="clear: both" />

<div class="pane left-pane" id="you">
  {% for time_slot in schedule %}
    <div class="medication" id="time_slot_{{ forloop.counter0 }}">  
      <div>
	<div class="you_relative_time"></div>
        <div class="you_absolute_time">{{ time_slot.time }}</div>
      </div>
      <table>
	<tr>
	  <td>
	    <div id="action_{{ forloop.counter0 }}">
	      <a href="#" class="button" id="button_{{ forloop.counter0 }}">Done</a>
	    </div>
	  </td>
	  <td>
	    <div class="you_med">
            {% for med in time_slot.meds %}
              <div><img class="med_image" src="/static/img/{{ med.picture_name }}" /><br />{{ med.name }}<br />{{ med.dose }}</div>
            {% endfor %}
            </div>
	  </td>
	</tr>
      </table>
    </div>
  {% endfor %}
</div>

<div class="pane right-pane" id="network">

  <div id="network_title">My Network</div>
  {% for entry in user_network %}
    <div class="network"><img class="network_image" src="/static/img/avatars/medium/{{ entry.link.get_profile.picture_name }}" /><br />{{ entry.link.first_name }}</div>
  {% endfor %}
</div>

<br style="clear: both;" />

{% endblock body %}

